.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
  padding-bottom: 10px;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 50px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Registration {
    padding-top: 10px;
    padding-bottom: 50px;
}

.api-error {
    text-align: left;
    color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
