.Game {
  width: 100%;
  height: 100%;

  display: flex;
}

.Game-player {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-player-name {
  text-align: center;
  font-size: 60px;
  color: #222;
  font-family: 'ninjaruto';
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
}

.Game-player-score {
  text-align: center;
  font-size: 600px;
  line-height: 0;
  color: #FFF;
}
