.App {
  height: 100%;
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* LOGO TEXT */
.App-text-logo {
  display: block;
  width: 100%;
  padding-top: 12%;
  height: 10%;
  text-align: center;
  font-size: 30px;
  font-family: 'ninjaruto';
  color: #222222;
  animation: App-text-logo-grow infinite 5s linear;
}

.App-text-logo h1 {
  // animation: App-text-logo-spin infinite 2s linear;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
}

@keyframes App-text-logo-grow {
  0% { font-size: 30px; }
  50% { font-size: 40px; }
  100% { font-size: 30px; }
}

@keyframes App-text-logo-spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

/* SCOREBOARD */
.App-scoreboard {
  width: 50%;
  max-height: 30%;
  overflow-y: scroll;
  margin: 5% auto 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 3px solid #222222;
}

.App-scoreboard table {
  width: 100%;
  border-collapse: collapse;
}

.App-scoreboard td {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #222222;
}

/* INSTRUCTION TEXT */
.App-instructions {
  position: absolute;
  bottom: 5%;
  background: rgba(0, 0, 0, 0.3);
  padding: 2% 0;
  color: #FFF;
}

.App-instructions span {
  font-size: 20px;
  margin-right: 200px;
}