@font-face {
  font-family: 'ninjaruto';
  src: url('./njnaruto.ttf');
}

html {
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'open-sans', sans-serif;
}

#root {
  height: 100%;
}
