@font-face {
  font-family: 'ninjaruto';
  src: url('assets/njnaruto.ttf');
}

html {
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'open-sans', sans-serif;
}

#root {
  height: 100%;
}

/* IMPORT STYLES */
@import "style/App.css";
@import "style/Main.css";
@import "style/Game.css";
@import "style/StatusBar.css";
